@use '../scss/variables' as *;
@use '../scss/mixins' as *;

.all-complaints {
	@include card-grid;
	padding: 2rem 4rem;
	min-height: calc(100vh - #{$navbar-height});
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../assets/pexels-ines-bahr-478690-7470557.jpg');
	background-size: cover;
	background-position: center;

	&__loading {
		color: #ffffff;
		background-color: #555555;
		font-size: 2rem;
		text-align: center;
		padding: 1vh;
		min-height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	h1 {
		grid-column: 1 / -1;
		text-align: center;
		color: #ffad4f;
	}
}
