@use 'variables' as *;
@use 'sass:map';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

main {
	min-height: calc(100vh - #{$navbar-height});
	background-color: #555555;
}

@each $name, $color in $colors {
	.bg-#{$name} {
		background-color: $color;
	}
}
